name: Windows

on:
  push:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    runs-on: windows-latest
    name: CMake v3.${{ matrix.cmake_version }}
    strategy:
      fail-fast: false
      matrix:
        cmake_version: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: ⬇️ Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ~3.${{ matrix.cmake_version }}
          ninjaVersion: ^1
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
      - name: CMake --help
        run: cmake --help
      - name: run-cmake
        uses: ./
        id: cmake
        with:
          install_prefix: './MyInstallPrefix'
          variables: |
            AFTER_CACHE_BOOL:BOOL=TRUE
            AFTER_CACHE_STRING:STRING="MyString"